.tile-button {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: var(--font-size-xl);
    color: var(--color-text-primary);
    transition: var(--transition-normal);
}