.view-container {
    flex: 1;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-auto-rows: 90px;
    gap: var(--space-md);
    max-width: 450px;
}

@media (max-width: 480px) {
    .grid-container {
        gap: 5px;
    }
}

@media (max-height: 700px) {
    .view-container {
        padding: 100px 0;
    }
}